body{
    background-color: #eeeeee;
    font-family: 'Plus Jakarta Sans', sans-serif;
   
}

footer{
    background-color: white;
}


.navbar{
    background-color: white  !important;
}

a{
    text-decoration: none !important;
}

/*------------------- Central dentro de um container ----------------------------*/

.centralizar_content{
    display: flex;
    align-items: center;
}

/*------------------- Carrousel Página Inicial ----------------------------*/
.carrouselbtn{
    background-color: #E05414 !important;
    border-color: #E05414 !important;
}

.carrouselbtn:hover{
    background-color: #f57f49 !important;
    border-color: #f57f49 !important;
}
.carrouselbtn:active{
    background-color: #f57f49 !important;
    border-color: #f57f49 !important;
    
}
